.basket{
  width: 90%;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: .3s;
  .close{
    position: absolute;
    top: 25px;
    left: 25px;
    li{
      list-style: none;
      font-size: 30px;
      
    }
  }
}
