$default-up-header-color: #243a6e;
$default-color: #fc7c7c;
$default-text-color: #454545;
$default-icons-color: #282828;
$banner-text-color: #282828;
$default-up-text-color: #cfd4df;
$default-banner-background-color: #FBF5E2;